<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="cd-text cd-title">Tabbed content</h1>
            <p class="cd-text">Tabbed content requires pistachio.js support and the presence of the <code>data-p-module="tabs"</code> attribute on the top level element. Tabs work well on desktop, but are not always appropriate for mobile so we can make them stack up vertically at specific breakpoints via the <code>data-tabs-stacked="xxs,xs"</code> attribute.</p>
        </div>
    </div>
</div>

<div class="page-section page-section--hint">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                {{{ getFile 'site/docs/views/examples/nav/nav-tabbed-content.html' }}}

                {{#codeBlock}}
                    {{{ getFile 'site/docs/views/examples/nav/nav-tabbed-content.html' }}}
                {{/codeBlock}}

            </div>
        </div>
    </div>
</div>
