<div class="container">
    <div class="row">
        <div class="col-xs-12 cd-text">
            <h1 class="cd-title">Feature blocks</h1>
            <p>A demo of all the possible feature blocks in one place. Further documentation is available on the <a href="/patterns/features">feature pattern page</a>.</p>
        </div>
    </div>
</div>

<div class="page-section page-section--sm">
    <div class="container">
        <div class="row">
            <div class="grid">
                <div class="grid__col-xs-12">
                    <h2 class="cd-title" id="banner">Feature banner</h2>
                    {{{ getFile 'site/docs/views/examples/features/banner.html' }}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 cd-text">
            <h2 class="cd-title" id="footers">Feature grid with footers</h2>
        </div>
    </div>
</div>

<div class="page-section page-section--sm page-section--alternate">
    <div class="container">
    {{{ getFile 'site/docs/views/examples/features/square.html' }}}
    </div>
</div>

<div class="page-section page-section--sm">
    <div class="container">
        <div class="row">
            <ul class="grid">
                <li class="grid__col-xs-4">
                    <a href="#0" class="feature feature--square" style="background-image:url('https://placekitten.com/500/500');">
                        <p class="feature__footer">
                            flapjacks
                        </p>
                    </a>
                    <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches.</p>
                    <div class="grid__cell-footer">
                        <a href="#0">flapjacks <span class="fa fa-angle-right"></span></a>
                    </div>
                </li>
                <li class="grid__col-xs-4">
                    <a href="#0" class="feature feature--square" style="background-image:url('https://placekitten.com/600/600');">
                        <p class="feature__footer">
                            ingredients by the bag
                        </p>
                    </a>
                    <p>Bring to the table win-win survival strategies to ensure proactive domination.</p>
                    <div class="grid__cell-footer">
                        <a href="#0">ingredients <span class="fa fa-angle-right"></span></a>
                    </div>
                </li>
                <li class="grid__col-xs-4">
                    <a href="#0" class="feature feature--square" style="background-image:url('https://placekitten.com/700/700');">
                        <p class="feature__footer">
                            sharing bags
                        </p>
                    </a>
                    <p>Capitalise on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide.</p>
                    <div class="grid__cell-footer">
                        <a href="#0">sharing bags <span class="fa fa-angle-right"></span></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="page-section page-section--sm page-section--alternate">
    <div class="container">
        <div class="row">
            <ul class="grid">
                <li class="grid__col-12 grid__col-xs-8">
                    <a href="#0" class="feature feature--square" style="background-image:url('https://placekitten.com/500/500');">
                        <p class="feature__footer">
                            flapjacks are really nice you should get some flapjacks and then eat them
                        </p>
                    </a>
                </li>
                <li class="grid__col-12 grid__col-xs-4">
                    <a href="#0" class="feature feature--square" style="background-image:url('https://placekitten.com/600/600');">
                        <p class="feature__footer">
                            ingredients by the bag
                        </p>
                    </a>

                    <a href="#0" class="feature feature--square feature--stacked" style="background-image:url('https://placekitten.com/700/700');">
                        <p class="feature__footer">
                            sharing bags
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="page-section page-section--sm">
    <div class="container">
        <div class="row">
            <ul class="grid">
                <li class="grid__col-12 grid__col-xs-8">
                    <a href="#0" class="feature feature--half" style="background-image:url('https://placekitten.com/500/500');">
                        <p class="feature__footer">
                            flapjacks
                        </p>
                    </a>
                </li>
                <li class="grid__col-12 grid__col-xs-4">
                    <a href="#0" class="feature feature--square" style="background-image:url('https://placekitten.com/600/600');">
                        <p class="feature__footer">
                            ingredients by the bag
                        </p>
                    </a>
                </li>
                <li class="grid__col-12 grid__col-xs-4">
                    <a href="#0" class="feature feature--square" style="background-image:url('https://placekitten.com/700/700');">
                        <p class="feature__footer">
                            sharing bags
                        </p>
                    </a>
                </li>
                <li class="grid__col-12 grid__col-xs-8">
                    <a href="#0" class="feature feature--half" style="background-image:url('https://placekitten.com/800/800');">
                        <p class="feature__footer">
                            kittens
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 cd-text">
            <h2 class="cd-title" id="headings">Feature grid with headings</h2>
        </div>
    </div>
</div>

<div class="page-section page-section--sm page-section--alternate">
    <div class="container">
        <div class="row">
            <ul class="grid">
                <li class="grid__col-xs-4">
                    <a href="#0" class="feature feature--square" style="background-image:url('https://placekitten.com/500/500');">
                        <h2 class="feature__heading">
                            flapjacks
                        </h2>
                    </a>
                </li>
                <li class="grid__col-xs-4">
                    <a href="#0" class="feature feature--square" style="background-image:url('https://placekitten.com/600/600');">
                        <h2 class="feature__heading">
                            ingredients by the bag
                        </h2>
                    </a>
                </li>
                <li class="grid__col-xs-4">
                    <a href="#0" class="feature feature--square" style="background-image:url('https://placekitten.com/700/700');">
                        <h2 class="feature__heading">
                            sharing bags
                        </h2>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="page-section page-section--sm">
    <div class="container">
        <div class="row">
            <ul class="grid">
                <li class="grid__col-xs-4">
                    <a href="#0" class="feature feature--square" style="background-image:url('https://placekitten.com/500/500');">
                        <h2 class="feature__heading">
                            flapjacks
                        </h2>
                    </a>
                    <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches.</p>
                    <div class="grid__cell-footer">
                        <a href="#0">flapjacks <span class="fa fa-angle-right"></span></a>
                    </div>
                </li>
                <li class="grid__col-xs-4">
                    <a href="#0" class="feature feature--square" style="background-image:url('https://placekitten.com/600/600');">
                        <h2 class="feature__heading">
                            ingredients by the bag
                        </h2>
                    </a>
                    <p>Bring to the table win-win survival strategies to ensure proactive domination.</p>
                    <div class="grid__cell-footer">
                        <a href="#0">ingredients <span class="fa fa-angle-right"></span></a>
                    </div>
                </li>
                <li class="grid__col-xs-4">
                    <a href="#0" class="feature feature--square" style="background-image:url('https://placekitten.com/700/700');">
                        <h2 class="feature__heading">
                            sharing bags
                        </h2>
                    </a>
                    <p>Capitalise on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide.</p>
                    <div class="grid__cell-footer">
                        <a href="#0">sharing bags <span class="fa fa-angle-right"></span></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="page-section page-section--sm page-section--alternate">
    <div class="container">
        {{{ getFile 'site/docs/views/examples/features/half.html' }}}
    </div>
</div>

<div class="page-section page-section--sm">
    <div class="container">
        <div class="row">
            <ul class="grid">
                <li class="grid__col-12 grid__col-xs-8">
                    <a href="#0" class="feature feature--square" style="background-image:url('https://placekitten.com/500/500');">
                        <h2 class="feature__heading">
                            flapjacks
                        </h2>
                    </a>
                </li>
                <li class="grid__col-12 grid__col-xs-4">
                    <a href="#0" class="feature feature--square" style="background-image:url('https://placekitten.com/600/600');">
                        <h2 class="feature__heading">
                            ingredients by the bag
                        </h2>
                    </a>

                    <a href="#0" class="feature feature--square feature--stacked" style="background-image:url('https://placekitten.com/700/700');">
                        <h2 class="feature__heading">
                            sharing bags
                        </h2>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="page-section page-section--sm page-section--alternate">
    <div class="container">
        <div class="row">
            <ul class="grid">
                <li class="grid__col-12 grid__col-xs-8">
                    <a href="#0" class="feature feature--half" style="background-image:url('https://placekitten.com/500/200');">
                        <h2 class="feature__heading">
                            flapjacks
                        </h2>
                    </a>
                </li>
                <li class="grid__col-12 grid__col-xs-4">
                    <a href="#0" class="feature feature--square" style="background-image:url('https://placekitten.com/600/600');">
                        <h2 class="feature__heading">
                            ingredients by the bag
                        </h2>
                    </a>
                </li>
                <li class="grid__col-12 grid__col-xs-4">
                    <a href="#0" class="feature feature--square" style="background-image:url('https://placekitten.com/700/700');">
                        <h2 class="feature__heading">
                            sharing bags
                        </h2>
                    </a>
                </li>
                <li class="grid__col-12 grid__col-xs-8">
                    <a href="#0" class="feature feature--half" style="background-image:url('https://placekitten.com/800/800');">
                        <h2 class="feature__heading">
                            kittens
                        </h2>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
