<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="cd-text cd-title">Tabbed content</h1>
            <p class="cd-text">Tabbed content requires pistachio.js support and the presence of the <code>data-p-module="tabs"</code> attribute on the top level element. Tabs work well on desktop, but are not always appropriate for mobile so we can make them stack up vertically at specific breakpoints via the <code>data-tabs-stacked="xxs,xs"</code> attribute.</p>
            <p class="cd-text">You can link to a page with a pre selected tab open by targetting the id of the tabbed content section. For example: <code>/layouts/tabbed-content#nutrition</code>.</p>
            <p class="cd-text">It's also possible to display and scroll to tabbed content from elsewhere on the page by targetting the id of the tabbed content. Example: <a href="#description">description</a> <a href="#nutrition">nutrition</a> <a href="#ingredients">ingredients</a>.</p>
        </div>
    </div>
</div>

{{{ getFile 'site/docs/views/examples/nav/nav-tabbed-content.html' }}}

<div class="container">
    <div class="row">
        <div class="col-xs-12">

            {{#codeBlock}}
                {{{ getFile 'site/docs/views/examples/nav/nav-tabbed-content.html' }}}
            {{/codeBlock}}

        </div>
    </div>
</div>
