<input type="checkbox" id="off-screen-trigger" class="off-screen-trigger" aria-hidden="true" data-p-module="offScreen">

<div class="off-screen-header">
    {{{ getFile 'site/docs/views/examples/nav/nav-top-tabs.html' }}}
    <div class="page-section page-section--xs">
        <div class="container">
            <nav class="grid grid--bleed grid--align-center">
                <div class="off-screen-trigger-spacer grid__col-auto">
                    <label for="off-screen-trigger" class="off-screen-trigger-label" onclick="">
                        <i class="fa fa-reorder fa-2x"></i>
                        <span class="sr-only">toggle menu</span>
                    </label>
                </div>
                <div class="grid__col-auto grid--direction-row grid--justify-center off-screen-header__logo">
                    <a href="#0" class="off-screen-header__logo__link link-img">
                        <img src="https://cdn.graze.com/static/15-1460367531/images/graze/en/header/logo.png" class="off-screen-header__logo__link__img" alt="home page">
                    </a>
                </div>
                {{{ getFile 'site/docs/views/examples/nav/nav-on-screen.html' }}}
            </div>
        </div>
    </div>
</div>

<div class="off-screen-menu">
    <div class="page-section page-section--bleed">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    {{{ getFile 'site/docs/views/examples/nav/nav-off-screen.html' }}}
                    {{{ getFile 'site/docs/views/examples/nav/nav-tabs-dd-offscreen.html' }}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-wrapper page-section--alternate">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="cd-text cd-title">Off screen menu</h1>
                <p class="cd-text">Resize your browser to below 768px viewport width to see the off screen menu in action. full documentation is available on <a href="/patterns/off-screen-menu">the off-screen menu page</a>.</p>
            </div>
        </div>
    </div>
</div>


