<h1 class="cd-text cd-title">Health badges</h1>
<p class="cd-text">An important part of our brand, health badges are used to call out the nutritional benefits of a product. There are some geographical variations to take into account that are documented here.</p>

<h2 class="cd-text cd-title">Health badge types</h2>
<h3 class="cd-text cd-title">calorie number</h3>
<p class="cd-text">This health badge must have a value specified for the amount of calories.</p>
<p>
    <a href="#0" class="health-badge health-badge--calories">
        <span aria-hidden="true">130</span>
        <span class="sr-only">only 130 calories</span>
    </a>
</p>
{{#codeBlock 'xml margin-reset'}}
<a href="#0" class="health-badge health-badge--calories">
    <span aria-hidden="true">130</span>
    <span class="sr-only">only 130 calories</span>
</a>
{{/codeBlock}}

<h3 class="cd-text cd-title">Low calorie</h3>
<p>
    <a href="#0" class="health-badge health-badge--lowcal">
        <span class="sr-only">150 calories and under</span>
    </a>
</p>
{{#codeBlock 'xml margin-reset'}}
<a href="#0" class="health-badge health-badge--lowcal">
    <span class="sr-only">150 calories and under</span>
</a>
{{/codeBlock}}

<h3 class="cd-text cd-title">Fibre</h3>
<h4 class="cd-text cd-title">UK</h4>
<p>
    <a href="#0" class="health-badge health-badge--fibre-uk">
        <span class="sr-only">high in fibre</span>
    </a>
</p>
{{#codeBlock 'xml margin-reset'}}
<a href="#0" class="health-badge health-badge--fibre-uk">
    <span class="sr-only">high in fibre</span>
</a>
{{/codeBlock}}

<h4 class="cd-text cd-title">USA</h4>
<p>
    <a href="#0" class="health-badge health-badge--fibre-us">
        <span class="sr-only">high in fiber</span>
    </a>
</p>
{{#codeBlock 'xml margin-reset'}}
<a href="#0" class="health-badge health-badge--fibre-us">
    <span class="sr-only">high in fiber</span>
</a>
{{/codeBlock}}

<h3 class="cd-text cd-title">Fruit</h3>
<h4 class="cd-text cd-title">UK</h4>
<p>
    <a href="#0" class="health-badge health-badge--fruit-uk">
        <span class="sr-only">1 of your recommended 5 pieces of fruit and vegetables a day</span>
    </a>
</p>
{{#codeBlock 'xml margin-reset'}}
<a href="#0" class="health-badge health-badge--fruit-uk">
    <span class="sr-only">1 of your recommended 5 pieces of fruit and vegetables a day</span>
</a>
{{/codeBlock}}

<h4 class="cd-text cd-title">USA</h4>
<p>
    <a href="#0" class="health-badge health-badge--fruit-us">
        <span class="sr-only">Half cup of fruit = 25% of the recommended daily amount</span>
    </a>
</p>
{{#codeBlock 'xml margin-reset'}}
<a href="#0" class="health-badge health-badge--fruit-us">
    <span class="sr-only">Half cup of fruit = 25% of the recommended daily amount</span>
</a>
{{/codeBlock}}

<h3 class="cd-text cd-title">Star</h3>
<h4 class="cd-text cd-title">UK</h4>
<p>
    <a href="#0" class="health-badge health-badge--star-uk">
        <span class="sr-only">health star</span>
    </a>
</p>
{{#codeBlock 'xml margin-reset'}}
<a href="#0" class="health-badge health-badge--star-uk">
    <span class="sr-only">health star</span>
</a>
{{/codeBlock}}

<h4 class="cd-text cd-title">USA</h4>
<p>
    <a href="#0" class="health-badge health-badge--star-us">
        <span class="sr-only">Nutritionist pick</span>
    </a>
</p>
{{#codeBlock 'xml margin-reset'}}
<a href="#0" class="health-badge health-badge--star-us">
    <span class="sr-only">Nutritionist pick</span>
</a>
{{/codeBlock}}

<h3 class="cd-text cd-title">Protein</h3>
<p>
    <a href="#0" class="health-badge health-badge--protein">
        <span class="sr-only">A source of protein</span>
    </a>
</p>
{{#codeBlock 'xml margin-reset'}}
<a href="#0" class="health-badge health-badge--protein">
    <span class="sr-only">A source of protein</span>
</a>
{{/codeBlock}}

<h3 class="cd-text cd-title">Vitamins</h3>
<p>
    <a href="#0" class="health-badge health-badge--vitamins">
        <span class="sr-only">A source of at least two vitamins and minerals</span>
    </a>
</p>
{{#codeBlock 'xml margin-reset'}}
<a href="#0" class="health-badge health-badge--vitamins">
    <span class="sr-only">A source of at least two vitamins and minerals</span>
</a>
{{/codeBlock}}

<h3 class="cd-text cd-title">Wholegrain</h3>
<p>
    <a href="#0" class="health-badge health-badge--wholegrain">
        <span class="sr-only">Contains wholegrain</span>
    </a>
</p>
{{#codeBlock 'xml margin-reset'}}
<a href="#0" class="health-badge health-badge--wholegrain">
    <span class="sr-only">Contains wholegrain</span>
</a>
{{/codeBlock}}

<h2 class="cd-text cd-title">Grouped health badges</h2>
<p class="cd-text">When two or more health badges are next to each other, they overlap slightly. There should be a maximum of 3 health badges per product.</p>
<a href="#0" class="health-badge health-badge--fibre-uk">
    <span class="sr-only">high in fibre</span>
</a>
<a href="#0" class="health-badge health-badge--vitamins">
    <span class="sr-only">A source of at least two vitamins and minerals</span>
</a>
<a href="#0" class="health-badge health-badge--protein">
    <span class="sr-only">A source of protein</span>
</a>
<a href="#0" class="health-badge health-badge--fibre-uk">
    <span class="sr-only">high in fibre</span>
</a>
<a href="#0" class="health-badge health-badge--vitamins">
    <span class="sr-only">A source of at least two vitamins and minerals</span>
</a>
<a href="#0" class="health-badge health-badge--protein">
    <span class="sr-only">A source of protein</span>
</a>
<a href="#0" class="health-badge health-badge--fibre-uk">
    <span class="sr-only">high in fibre</span>
</a>
<a href="#0" class="health-badge health-badge--vitamins">
    <span class="sr-only">A source of at least two vitamins and minerals</span>
</a>
<a href="#0" class="health-badge health-badge--protein">
    <span class="sr-only">A source of protein</span>
</a>

<h2 class="cd-text cd-title">Usage without links</h2>
<p class="cd-text">Ideally health badges would be used as a navigation aid and on click would filter by health badge or direct users to a page that collects all products that contain that health badge. If this is not possible, use of a <code>div</code> element is appropriate.</p>

<p>
    <div class="health-badge health-badge--calories">
        <span aria-hidden="true">130</span>
        <span class="sr-only">only 130 calories</span>
    </div>
</p>
{{#codeBlock 'xml margin-reset'}}
<div class="health-badge health-badge--calories">
    <span aria-hidden="true">130</span>
    <span class="sr-only">only 130 calories</span>
</div>
{{/codeBlock}}
