<h1 class="cd-text cd-title">lists</h1>
<p class="cd-text">Styles for lists, including standard utility classes.</p>

<h2 class="cd-text cd-title">utility lists</h2>

<div class="row">
    <div class="col-xs-6">
        <p>default list</p>
        <ul>
           <li>Lorem ipsum</li>
           <li>Aliquam</li>
           <li>Vestibulum</li>
        </ul>
    </div>
    <div class="col-xs-6 page-section--brand">
        <p>.list-inverse</p>
        <ul class="list-inverse">
           <li>Lorem ipsum</li>
           <li>Aliquam</li>
           <li>Vestibulum</li>
        </ul>
    </div>
    <div class="col-xs-6">
        <p>.list-unstyled</p>
        <ul class="list-unstyled">
           <li>Lorem ipsum</li>
           <li>Aliquam</li>
           <li>Vestibulum</li>
        </ul>
    </div>
    <div class="col-xs-6">
        <p>.list-inline</p>
        <ul class="list-inline">
           <li>Lorem ipsum</li>
           <li>Aliquam</li>
           <li>Vestibulum</li>
        </ul>
    </div>
</div>

<h2 class="cd-text cd-title">ticked lists</h2>
<p class="cd-text">Ticked lists are useful for calling attention to listed information, e.g. reasons to love a product or service, such as health benefits. The default list style is strongly recommended but a branded alternative is available for stylistic purposes.</p>
<div class="row">
    <div class="col-xs-6">
        <p>default ticked list</p>
        {{{ getFile 'site/docs/views/examples/lists/ticked-list.html' }}}
        {{#codeBlock}}
            {{{ getFile 'site/docs/views/examples/lists/ticked-list.html' }}}
        {{/codeBlock}}
    </div>
    <div class="col-xs-6">
        <p>branded ticked list</p>
        {{{ getFile 'site/docs/views/examples/lists/ticked-list-brand.html' }}}
        {{#codeBlock}}
            {{{ getFile 'site/docs/views/examples/lists/ticked-list-brand.html' }}}
        {{/codeBlock}}
    </div>
</div>
