<h1 class="cd-text cd-title">Footer</h1>
<p class="cd-text">We have a standardised footer for use across all graze websites. While the content can vary based on context, this footer should always be used on a graze website and in fact, you can see one at the bottom of this very page unless something has gone very wrong.</p>

<h2 class="cd-text cd-title">supporting html class</h2>
<p class="cd-text">When adding a footer, you need to add the <code>.has-page-footer</code> class to your html element. This gives the entire page the bottom border and sets up the correct height and padding properties on the entire page.

<h2 class="cd-text cd-title">the footer</h2>
<p class="cd-text">The footer itself can contain different content depending on context, but text should use the relevant meta classes such as <code>.meta</code> and <code>link-meta</code>. Here's an example:</p>


{{#codeBlock}}
    {{{ getFile 'site/docs/views/examples/footer.html' }}}
{{/codeBlock}}

