<h1 class="cd-text cd-title">page sections</h1>
<p class="cd-text">Page sections help break up pages and give content some much needed breathing space.</p>

<div class="panel">
    <div class="panel__body">
        <h4 class="cd-text cd-title"><i>heads up!</i></h4>
        <p class="cd-text">Due to our styleguide layout, all examples are contained in a content area.  Page sections should generally be used to cover the whole page width for maximum effect.</p>
    </div>
</div>

<h3 class="cd-text cd-title">example</h3>
{{{ getFile 'site/docs/views/examples/page-section.html' }}}

<h3 class="cd-text cd-title">code</h3>
{{#codeBlock}}
    {{{ getFile 'site/docs/views/examples/page-section.html' }}}
{{/codeBlock}}

<h2 class="cd-text cd-title">types</h2>
<h3 class="cd-text cd-title">colour modifiers</h3>

<p class="cd-text">Page sections have a white background by default but you can use these classes to modify that.</p>

<h3 class="cd-text cd-title">transparent</h3>
<p class="cd-text"> A transparent page section is useful for allowing the background of the page to be visible.</p>
<div class="page-section page-section--transparent text-center">
    <p>Modifer: <code>.page-section--transparent</code></p>
</div>
<br>

<h3 class="cd-text cd-title">brand</h3>
<p class="cd-text">Brand colour sections should only be used to frame the page at top and bottom and never within a page.</p>
<div class="page-section page-section--brand text-center">
    <p>Modifer: <code>.page-section--brand</code></p>
    <a href="#" class="link-inverse">.link-inverse</a>
</div>
<br>

<h3 class="cd-text cd-title">alternate</h3>
<p class="cd-text">Alternate page sections are perfect for breaking up longer sections of a page by alternating between white sections.</p>
<div class="page-section page-section--alternate text-center">
    <p>Modifer: <code>.page-section--alternate</code></p>
</div>
<br>

<h3 class="cd-text cd-title">hint</h3>
<p class="cd-text">The grey colour used in "hint" sections will only be visible on high quality screens and devices and therefore should only be used as a progressive enhancement on those devices. When it's important for page sections to be visible, hint is not appropriate.</p>
<div class="page-section page-section--hint text-center">
    <p>Modifer: <code>.page-section--hint</code></p>
</div>
<br>

<h3 class="cd-text cd-title">background images</h3>

<div class="page-section page-section--image text-center" style="background-image: url('https://unsplash.imgix.net/photo-1428908684367-2fe456a630bb?fit=crop&fm=jpg&h=700&q=75&w=1050')">
    <p>Modifer: <code>.page-section--image</code></p>
</div>
<br>

<div class="page-section page-section--brand page-section--image text-center" style="background-image: url('https://ununsplash.imgix.net/photo-1428699190791-2c4f8b144d06?fit=crop&fm=jpg&h=1575&q=75&w=1050')">
    <p>Modifer: <code>.page-section--brand .page-section--image</code></p>
    <a href="#" class="link-inverse">.link-inverse</a>
</div>

<h3 class="cd-text cd-title">size modifiers</h3>
<p class="cd-text">Default padding size is <b>3em</b>.</p>

<div class="page-section page-section--alternate page-section--bleed text-center">
    <p>Bleed: <b>0</b> <code>.page-section--bleed</code></p>
</div>
<br>

<div class="page-section page-section--alternate page-section--xs text-center">
    <p>Extra Small: <b>.75em</b> <code>.page-section--xs</code></p>
</div>
<br>

<div class="page-section page-section--alternate page-section--sm text-center">
    <p>Small: <b>1.5em</b> <code>.page-section--sm</code></p>
</div>
<br>

<div class="page-section page-section--alternate page-section--lg text-center">
    <p>Large: <b>6em</b> <code>.page-section--lg</code></p>
</div>
