<h1 class="cd-text cd-title">sash</h1>
<p class="cd-text">A good use of sashes is to call out extra information such as a discounted price, or a preferred choice. These sashes are intended for use with <a href="panels">panels</a> or <a href="features">feature blocks</a>.</p>

<p class="cd-text">A left or right modifier is a requirement for a working sash.</p>

<h4 class="cd-text cd-title">sash left</h4>
<div class="row">
    <div class="col-xs-5">
        <a class="panel panel--shadow" href="javascript:void(0);">
            {{{ getFile 'site/docs/views/examples/sashes/sash-left.html' }}}
            <img src="/images/feature/half-honey.jpg" class="img-responsive panel__header-img">
            <div class="panel__body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, repellat.
                </p>
            </div>
            <div class="panel__footer">
                £2.99
            </div>
        </a>
    </div>
    <div class="col-xs-7">
        {{#codeBlock 'xml margin-reset'}}
            {{{ getFile 'site/docs/views/examples/sashes/sash-left.html' }}}
        {{/codeBlock}}
    </div>
</div>

<h4 class="cd-text cd-title">sash right</h4>
<div class="row">
    <div class="col-xs-5">
        <a class="panel panel--shadow" href="javascript:void(0);">
            {{{ getFile 'site/docs/views/examples/sashes/sash-right.html' }}}
            <img src="/images/feature/half-cashew.jpg" class="img-responsive panel__header-img">
            <div class="panel__body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>
            </div>
            <div class="panel__footer">
                £3.99
            </div>
        </a>
    </div>
    <div class="col-xs-7">
        {{#codeBlock 'xml margin-reset'}}
            {{{ getFile 'site/docs/views/examples/sashes/sash-right.html' }}}
        {{/codeBlock}}
    </div>
</div>
