// Includes
@import '../includes/variables';
@import '../includes/mixins';

//
// Feature blocks
// ===

// Default
// ---

.feature {
    .display-flex();
    .transition(box-shadow 0.1s ease-out);
    .background-cover();
    position: relative;
    min-height: 100px;
    width: 100%;
    background-color: @colour-grey-lightest;
    font-weight: @font-weight-base;
    text-decoration: none;

    a&:hover,
    a&:focus {
        color: @link-colour;
        background-color: rgba(0, 0, 0, 0.5);
        text-decoration: none;
        .box-shadow(0 0 0 1px @colour-brand);

        .feature__heading {
            background-color: rgba(0, 0, 0, 0.3);
        }

        .feature__footer {
            background-color: rgba(255, 255, 255, 0.95);
        }
    }

    a&:focus {
        .box-shadow(0 0 0 3px @colour-brand);
        border-radius: @dimension-border-radius;

        .feature__heading {
            border-radius: @dimension-border-radius;
        }

        .feature__footer {
            border-radius: 0 0 @dimension-border-radius @dimension-border-radius;
        }
    }
}

// Modifiers
// ---

.feature--half {
    &:before {
        content: '';
        display: table;
        float: left;
        padding-top: 50%;
        padding-top: ~'calc(50% - @{dimension-padding-lg})';
    }
}

.feature--square {
    &:before {
        content: '';
        display: table;
        float: left;
        padding-top: 100%;
    }
}

.feature--banner {
    position: relative;
    min-height: 300px;
    background-position: center right;

    @media (max-width: @screen-lg-min) {
        background-position: 70%;
    }

    @media (max-width: @screen-md-min) {
        display: block;
        min-height: 100px;
        background-size: 150%;
        background-position: top right;

        .feature__content {
            width: 100%;
            margin-top: 40%;
            padding: @dimension-padding-lg;
            background-color: @colour-grey-lightest;
            background-image: none;
            color: inherit;
            text-shadow: none;
            .reset-filter();
        }
    }
}

// Content options
// ---

.feature__content {
    .display-flex();
    .flex-direction(column);
    .align-items(flex-start);
    .align-self(stretch);
    .justify-content-center();
    .resetTextAlign();
    .inner-content-fix();
    width: 40%;
    margin-right: auto;
    padding: @dimension-padding-xlg @dimension-padding-lg @dimension-padding-xlg @dimension-padding-xlg;
    background-color: fade(@colour-white, 90%);

    // ie flexbox fix
    & > * {
        max-width: 100%;
    }
}

.feature__content--fade {
    width: 50%;
    padding: @dimension-padding-xlg 5% @dimension-padding-xlg @dimension-padding-xlg;
    padding-right: ~'calc(5% + @{dimension-padding-xlg})';
    background-color: transparent;
    #gradient > .horizontal(fade(@colour-white, 90%), fade(@colour-white, 0%), 60%, 100%);
}

.feature__content--dark {
    background-color: transparent;
    color: @colour-white;
    text-shadow: 1px 1px 3px @colour-grey-dark;

    & > h1 {
        color: @colour-white;
    }
}

.feature__heading {
    .display-flex();
    .flex-direction(column);
    .align-self(stretch);
    .justify-content-space-around();
    .resetTextAlign();
    width: 100%;
    margin: 0;
    padding: 0 5%;
    color: @colour-white;
    text-align: center;
    text-shadow: 1px 1px 5px @colour-grey-dark;

    // ie flexbox fix
    max-width: 100%;
}

.feature__footer {
    .transition(background-color 0.1s ease-out);
    .position(absolute, auto, 0, 0, 0);
    display: block;
    width: 100%;
    margin: auto 0 0;
    padding: 0.5em 1em;
    background-color: rgba(255, 255, 255, 0.85);
    .resetTextAlign();
}
