// Includes
@import '../includes/variables';
@import '../includes/mixins';

//
// Panels
// ===
.panel {
    position: relative;
    margin-bottom: @dimension-spacing-default;
    border: @border-default;
    border-radius: @dimension-border-radius;
    background-color: @colour-white;

    h1:first-of-type,
    h2:first-of-type,
    h3:first-of-type {
        margin-top: 0;
    }
}

a.panel {
    .transition(all 0.1s ease-out);
    display: block;
    .panel-link-reset();
}

//
// Child elements
// ---
.panel__header-img {
    border-radius: (@dimension-border-radius - 1) (@dimension-border-radius - 1) 0 0;
}

.panel__header {
    padding: @dimension-padding-lg;
    border-radius: (@dimension-border-radius - 1) (@dimension-border-radius - 1) 0 0;
    background-color: @colour-grey-lightest;
    font-weight: @font-weight-strong;

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }
}

.panel__footer {
    padding: @dimension-padding-lg;
    border-radius: 0 0 (@dimension-border-radius - 1) (@dimension-border-radius - 1);
    background-color: @colour-grey-lightest;
}

.panel__body {
    .inner-content-fix();
    padding: @dimension-padding-lg;
}

//
// Modifiers
// ---
.panel--shadow {
    .drop-shadow.outside();
}

.panel--alternate {
    background-color: @colour-grey-lightest;
}

.panel--feature {
    border-color: @colour-brand-berry;

    .panel__header,
    .panel__footer {
        background-color: @colour-brand-berry;
        color: @colour-white;
    }
}

//
// flexbox panels (used with reflex grid)
// ===
a.grid__panel {
    .panel-link-reset();

    &:hover,
    &:focus {
        .box-shadow(none);

        .grid__panel-header-img,
        .grid__panel-header,
        .grid__panel-top,
        .grid__panel-body,
        .grid__panel-footer {
            border-color: @colour-brand;
        }
    }
}

.grid__panel--shadow {
    .grid__panel-header-img,
    .grid__panel-header,
    .grid__panel-top,
    .grid__panel-body,
    .grid__panel-footer {
        .drop-shadow.outside();
        z-index: @z-index-base;
    }
}

.grid__panel-header-img {
    border: 1px solid @colour-grey-lighter;
    border-bottom: none;
    border-radius: @dimension-border-radius @dimension-border-radius 0 0;
}

.grid__panel-top {
    .inner-content-fix();
    padding: @dimension-padding-lg @dimension-padding-lg 0;
    border: 1px solid @colour-grey-lighter;
    border-bottom: none;
    border-radius: @dimension-border-radius @dimension-border-radius 0 0;
}

.grid__panel-header {
    .inner-content-fix();
    padding: @dimension-padding-lg;
    border: 1px solid @colour-grey-lighter;
    border-bottom: none;
    border-radius: @dimension-border-radius @dimension-border-radius 0 0;

    & ~ .grid__panel-body {
        padding-top: 0;
    }
}

.grid__panel-body {
    .inner-content-fix();
    padding: @dimension-padding-lg;
    border: 1px solid @colour-grey-lighter;
    border-top: none;
    border-bottom: none;
    background-color: @colour-white;
}

.grid__panel-footer {
    .align-items(center);
    padding: @dimension-padding-sm @dimension-padding-lg @dimension-padding-lg;
    border: 1px solid @colour-grey-lighter;
    border-top: none;
    border-radius: 0 0 @dimension-border-radius @dimension-border-radius;
    background-color: @colour-white;

    .button--block:only-child {
        margin-bottom: 0;
    }
}
